.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  font-size: 0.625rem;
  align-items: center;
  justify-content: center;
  color: #40b9c1;
  padding: 0.5rem 0;
}

.leaflet-container {
  min-height: 100vh;
  width: 100%;
}
